lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css
website/build

# Coverage reports
coverage

# Configuration file, avoid leek on git of secrets
.env
services/__tests__/.tests.env
.env.local
.env.*.local
docker-compose.yml

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist

# Test output
/tests/e2e/videos/
/tests/e2e/screenshots/
/tests/**/coverage/


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
