| Bienvenue sur l'interface de stage de l'ENIB !
|

| Vous venez de vous connecter pour la première fois à l'interface
| d'administration des stages de l'ENIB et ce message confirme que vous avez bien
| été enregistré dans le service. Cette interface vous permet de :
|

|  * Lister les stages validés par le service relation-entreprise
|  * Proposer de nouveaux stages
|  * Suivre l'avancement et les documents à fournir pour les stages en cours
|  * Mettre en place des notifications pour être avertie par mail des nouveaux
|    stages qui vous intéressent
|

| Pour vous rendre sur l'interface, veuillez suivre ce lien: https://stages.enib.fr
